*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, html{
  height: 100%;
}

.document{
  background-color: rgb(37, 37, 37);
}

.header-container{
  display: flex;
  background-color: rgb(27, 27, 27);
  justify-content: center;
  align-items: center;
  height: 6.7vh;
}

.main-result{
  height: 70%;
}

.main-page{
  text-decoration: none;
  font-family: "Roboto Mono";
  color: snow
}

.main-page:hover{
  color: snow;
}

.header-content{
  color: snow;
  
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 20px;
}

.commend{
  text-decoration: underline;
  color: rgb(100, 100, 100);
}

.end{
  text-align: center;
  margin-top: 18em;
  font-size: 24px;
  font-style: italic;
  font-family: "Roboto Mono";
  color: rgb(100, 100, 100);
}

input[type=text]{
  /* Courtesy of codepen 
  https://codepen.io/Tipue/pen/NzpeoN 
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: snow;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  max-width: 500px;
  background-color: rgb(47, 47, 47);
  border: 2px solid rgb(47, 47, 47);
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 
}

.apology{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.thumbnail{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
  height: 200px;
}

.content{
  display: inline;
  box-shadow: 7px 7px 10px 10px lightblue;
  background-color: snow;
  width: 600px;
  height: 500px;
  overflow: auto;
}

.container{
  outline: 5px solid red;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22vh;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.container-image{
  outline: 5px solid green;
  /* width: 50%;
  height: 60%; */
}

.container-forms{
  /* width: 50%;
  height: 150px; */
  outline: 5px solid blue;
}

.download-form{
  width: 100%;
}

.btn, .form{
  margin: 15px 0;
  display: block;
}

.btn{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(100, 100, 100);
  font-family: "Roboto Mono";
  font-size: 15px;
  border: 2px solid rgb(100, 100, 100);
  cursor: pointer;
  opacity: 0.4;
  transition: 0.3s;
}

.btn:hover{
  opacity: 1;
}

.dropdown{
  width: 100px;
}

.quality-submit{
  width: 100px;
  display: inline-block;
  margin: 130px 0px 0px 30px;
  position: relative;
}

.title{
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 2vh;
}

.author{
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 2vh;
}


@media screen and (max-width: 992px) {
  .container{
    display: block;
  }
  .thumbnail{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
  }
}
