*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: titleAndAuthor;
  src: url(/OpenSans/OpenSans-regular.ttf);
}

body.document{
  background-color: snow;
}

.header-container{
  display: flex;
  background-color: skyblue;
  justify-content: center;
  align-items: center;
  height: 6.7vh;
}

.main-page{
  text-decoration: none;
  color: snow;
}

.main-page:hover{
  color: snow;
}
.header-content{
  color: white;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.commend{
  text-decoration: none;
}

.end{
  text-align: center;
  margin-top: 18em;
  font-size: 24px;
  font-style: italic;
}

input[type=text]{
  /* Courtesy of codepen 
  https://codepen.io/Tipue/pen/NzpeoN 
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: grey;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 400px;
  max-width: 500px;
  background-color: snow;
  border: 2px solid grey;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 
}

.apology{
  width: 600px;
  height: 500px;
}

.thumbnail{
  margin: 20px 0px 0px 30px;
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 200px;
}

.content{
  display: inline;
  box-shadow: 7px 7px 10px 10px lightblue;
  background-color: snow;
  width: 600px;
  height: 500px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.btn{
  margin-left: 10px;
}

.btn-download{
  margin-top: -66px;
  margin-left: 120px;
}

.dropdown{
  width: 100px;
}

.quality-submit{
  width: 100px;
  display: inline-block;
  margin: 130px 0px 0px 30px;
  position: relative;
}

.title{
  margin: 50px 0px 0px 80px;
  font-family: "Roboto";
  font-weight: bold;
}

.author{
  margin: 30px 0px 0px 90px;
  font-family: "Roboto";
  font-weight: bold;
}

