{% extends "layout.html" %}

{% block title %}
    YTVDL
{% endblock %}

 {% block body %}
<main class="flex">
    <form action="/result" method="post">
        <input class="form" type="text" autofocus autocomplete="off" placeholder="URL of YouTube video" name="link">
        <input class="btn btn-primary index-btn" type="submit" value="Download">
    </form>
</main>
<footer class="end">
    Created by Muhammad Hussain Javed. This was <a class="commend" href="https://cs50.harvard.edu/x/2022/">CS50</a>.
</footer>
 {% endblock%}