{% extends "layout.html" %}

{% block title %}
    YTVDL
{% endblock %}

 {% block body %}
 <header class="header-container">
    <h2 class="header-content"><a class="main-page" href="{{ url_for('index') }}">YTVDL</a></h2>
</header>
<main class="flex">
    <form action="/result" method="post">
        <input class="form" type="text" autofocus autocomplete="off" placeholder="URL of YouTube video or playlist" name="link">
        <input class="btn btn-primary" type="submit" value="Download">
    </form>
</main>
<footer class="end">
    This was CS50.
</footer>
 {% endblock%}