<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="x-icon/favicon" href="static/falcon.png">
        <link href="/static/style.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    </head>
    <body class="document">
        <header class="header-container">
            <h2 class="header-content"><a class="main-page" href="{{ url_for('index') }}">YTVDL</a></h2>
        </header>
        {% block body %}{% endblock %}
        <script src="/static/script.js"></script>
    </body>
</html>
